<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profesores</title>
</head>
<body>
<a class="btn btn-warning" th:href="@{/}">Regresar al menu principal</a>
<h1>Consulta profesores</h1>

<table border="1">
    <thead>
    <tr>
        <th th:text="#{msg.id}"/>
        <th th:text="#{msg.nombre}"/>
        <th th:text="#{msg.apPaterno}"/>
        <th th:text="#{msg.apMaterno}"/>
        <th th:text="#{msg.materia}"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="profesor:${profesores}">
        <td th:text="${profesor.getId()}"/>
        <td th:text="${profesor.getNombre()}"/>
        <td th:text="${profesor.getApPaterno()}"/>
        <td th:text="${profesor.getApMaterno()}"/>
        <td th:text="${profesor.getMateria()}"/>

        <td><a th:href="@{/profesores/eliminar/{id}(id=${profesor.getId()})}">Eliminar</a></td>
    </tr>
    </tbody>
</table>

<a class="btn btn-warning" th:href="@{/profesores/registrar}">Registrar profesor</a>
</body>

</html>