<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar profesores</title>
    <meta charset="UTF-8">
</head>
<body>
<a class="btn btn-warning" th:href="@{/}">Regresar al menu principal</a>
<h1>Registrar profesores</h1>

<form th:object="${profesor}" th:action="@{/profesores/registrar}" method="post">
    <div class="form-group">
        <label for="nombre">Nombre del profesor</label>
        <input th:field="*{nombre}" id="nombre" placeholder="Nombre del profesor" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="codigo">Apellido paterno</label>
        <input th:field="*{apPaterno}" id="codigo" placeholder="Apellido paterno" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="existencia">Apellido materno</label>
        <input th:field="*{apMaterno}" id="existencia" placeholder="Apellido materno" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="existencia">Materia que imparte</label>
        <input th:field="*{materia}" id="materia" placeholder="Materia" type="text"
               class="form-control">
    </div>
    <button class="btn btn-success" type="submit">Guardar</button>
    &nbsp;<a class="btn btn-warning" th:href="@{/profesores/mostrar}">Ver todos</a>
</form>

</body>
</html>
