<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar intendente</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Editar intendente</h1>

<form th:object="${intendente}" th:action="@{/intendentes/modificar/{id}(id=${intendente.getId()})}" method="post">
    <div class="form-group">
        <label for="nombre">Nombre del intendente</label>
        <input th:field="*{nombre}" id="nombre" placeholder="Nombre del intendente" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="codigo">Apellido paterno</label>
        <input th:field="*{apPaterno}" id="codigo" placeholder="Apellido paterno" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="existencia">Apellido materno</label>
        <input th:field="*{apMaterno}" id="existencia" placeholder="Apellido materno" type="text"
               class="form-control">
    </div>
    <button class="btn btn-success" type="submit">Modificar</button>
    &nbsp;<a class="btn btn-warning" th:href="@{/profesores/mostrar}">Ver todos</a>
</form>

</body>
</html>