<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intendentes</title>
</head>
<body>
<a class="btn btn-warning" th:href="@{/}">Regresar al menu principal</a>
<h1>Consulta intendentes</h1>

<table border="1">
    <thead>
    <tr>
        <th th:text="#{msg.id}"/>
        <th th:text="#{msg.nombre}"/>
        <th th:text="#{msg.apPaterno}"/>
        <th th:text="#{msg.apPaterno}"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="intendente:${intendentes}">
        <td th:text="${intendente.getId()}"/>
        <td th:text="${intendente.getNombre()}"/>
        <td th:text="${intendente.getApPaterno()}"/>
        <td th:text="${intendente.getApMaterno()}"/>
        <td><a th:href="@{/intendentes/editar/{id}(id=${intendente.getId()})}">Editar</a></td>
        <td><a th:href="@{/intendentes/eliminar/{id}(id=${intendente.getId()})}">Eliminar</a></td>
    </tr>
    </tbody>
</table>

<a class="btn btn-warning" th:href="@{/intendentes/registrar}">Registrar intendente</a>
</body>

</html>