<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: headerfiles">
</head>
<body>
<header th:insert="fragments :: nav"></header>
<div style="text-align: center;">

    <h1>Evaluacion</h1>
    <h2>Menu</h2>
    <a class="btn btn-warning" th:href="@{/profesores/registrar}">Profesores</a><br>
    <a class="btn btn-warning" th:href="@{/alumnos/registrar}">Alumnos</a><br>
    <a class="btn btn-warning" th:href="@{/intendentes/registrar}">Intendentes</a>

</div>

<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>