<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evaluacion</title>
</head>
<body>
<div style="text-align: center;">

    <h1>Evaluacion</h1>
    <h2>Menu</h2>
    <a class="btn btn-warning" th:href="@{/profesores/registrar}">Profesores</a><br>
    <a class="btn btn-warning" th:href="@{/alumnos/registrar}">Alumnos</a><br>
    <a class="btn btn-warning" th:href="@{/intendentes/registrar}">Intendentes</a>



</div>
</body>
</html>